:root {
  --gridSize: 16;
}

#container {

    margin: 0px;
    display: grid;
    grid-template-columns: repeat(var(--gridSize), 25px);
    grid-template-rows: repeat(var(--gridSize), 25px);
    gap: 1px;
    justify-content: center;
}

#container > div {
  color: white;
  padding: 5px;
  border: 1px solid black;
}   

#colored { 
  background-color: black;
}

#buttoncontainer {
  text-align: center;
}