#container {

    margin: 0px;
    display: grid;
    grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
    gap: 1px;
    justify-content: center;
}

#cell {
  color: white;
  padding: 5px;
  border: 1px solid black;
}   